.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
    overflow-y: auto;
  }
  
  .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 3%;
    margin: 0 1%;
    background-color: var(--whiteColor);
    line-height: 1.5;
    gap: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    cursor: pointer;
  }
  .card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .card-left {
    width: 10%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    border: 20%;
  }
  
  .card-left span {
    /* width: 100%; */
    height: auto;
    min-height: 60px;
    padding: 1rem;
  }
  
  .card-center {
    width: 50%;
  }
  
  .card-loc,
  .card-sub {
    font-size: 13px;
    color: var(--darkGreyColor);
  }
  .card-sub {
    display: flex;
    flex-wrap: wrap;
  }
  .card-sub p {
    display: flex;
    padding: 0 0.5rem 0 0;
    align-items: center;
  }
  
  .card-right {
    width: 15%;
  }
  
  .card-tag a {
    color: var(--fontColor);
    font-size: 13px;
  }
  
  .card-summary {
    padding: 0.5rem 0;
    color: var(--primaryColor);
  }
  .card-summary span {
    color: var(--fontColor);
    font-size: 13px;
  }
  .blue-bg {
    background-color: var(--softBlue);
  }
  @media screen and (max-width: 400px) {
    .card-loc,
    .card-sub,
    .card-tag {
      /* display: none; */
    }
  }
  