<div class="wrapper">
  <div class="card" (click)="onCardClick()">
    <div class="card-left blue-bg"><span>Logo</span></div>
    <div class="card-center">
      <h3>Company Name</h3>
      <p class="card-detail">Data Science, AI</p>
      <p class="card-loc"><i class="fa fa-map-marker"></i> ABC Street</p>
      <div class="card-sub">
        <p><i class="fa fa-clock-o"></i> 1 min ago</p>
        <p><i class="fa fa-hourglass-half"></i> Full time</p>
        <p><i class="fa fa-users"></i> 200 Applicants</p>
      </div>
    </div>
    <div class="card-right">
      <div class="card-tag">
        <h5>Division</h5>
        <a href="#">Data Engineer</a>
      </div>
      <div class="card-summary">
        <p><b>$450k</b> <span>/year</span></p>
      </div>
    </div>
  </div>
  <div class="card" (click)="onCardClick()">
    <div class="card-left blue-bg"><span>Logo</span></div>
    <div class="card-center">
      <h3>Company Name</h3>
      <p class="card-detail">Data Analyst</p>
      <p class="card-loc"><i class="fa fa-map-marker"></i> XYZ Street</p>
      <div class="card-sub">
        <p><i class="fa fa-clock-o"></i> 5 min ago</p>
        <p><i class="fa fa-hourglass-half"></i> Full time / Part time</p>
        <p><i class="fa fa-users"></i> 300 Applicants</p>
      </div>
    </div>
    <div class="card-right">
      <div class="card-tag">
        <h5>Division</h5>
        <a href="#">Data Engineer</a>
      </div>
      <div class="card-summary">
        <p><b>$400k</b> <span>/year</span></p>
      </div>
    </div>
  </div>
</div>
