<div class="main-header">
  <i class="fa fa-bars menu-bar" (click)="onMenubarToggle()"></i>
  <div class="search">
    <input type="text" placeholder="Search your best job here..." />
    <button class="btn-search">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>
