<div class="sidebar" [class.active]="menuToggleValue$ | async">
  <h1 class="logo">Jobs Place</h1>
  <div class="menu">
    <a href="#"> <i class="fa fa-home"></i> Home</a>
    <a href="#"> <i class="fa fa-newspaper-o"></i> Find Jobs</a>
    <a href="#"> <i class="fa fa-bar-chart-o"></i> Performance</a>
    <a href="#"> <i class="fa fa-bookmark-o"></i> Bookmarks</a>
    <a href="#"> <i class="fa fa-envelope-o"></i> Message</a>
    <a href="#"> <i class="fa fa-cog"></i> Settings</a>
  </div>
  <div class="profile">
    <i class="profile-img fa fa-user"></i>
    <div class="profile-name">
      <h4>User Name</h4>
      <p>Software Developer</p>
    </div>
  </div>
</div>
<div
  [class.active]="mobileView && (menuToggleValue$ | async)"
  (click)="sidebarClose($event)"
></div>
