.active {
    width: calc(100% - 220px);
    height: 100vh;
    background-color: rgba(100, 100, 111, 0.2);
    opacity: 1;
    z-index: 200;
    position: absolute;
    /* cursor: pointer; */
    /* top: 0; */
    right: 0;
    /* left: 0; */
    bottom: 0;
  }
  .sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    position: fixed;
    left: 0;
  }
  .logo {
    letter-spacing: 2px;
    font-size: 22px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .menu a {
    display: flex;
    align-items: center;
    color: var(--whiteColor);
    text-decoration: none;
  }
  .menu i {
    margin-right: 0.5rem;
  }
  .menu a:hover {
    color: var(--secondaryColor);
  }
  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--whiteColor);
    color: var(--fontColor);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
  }
  .profile:hover {
    background-color: var(--secondaryColor);
  }
  .profile-name p {
    font-size: 12px;
  }
  .sidebar.active {
    display: flex;
    width: 220px;
    z-index: 100;
  }
  @media screen and (max-width: 880px) {
    .sidebar {
      display: none;
    }
  }
  