<div class="detail" [class.active]="cardStatus$ | async">
  <i class="fa fa-close" (click)="onDetailClose()"></i>
  <div class="detail-header">
    <span>Logo</span>
    <h2>Company Name</h2>
    <p>Data Science</p>
  </div>
  <hr class="divider" />
  <div class="detail-desc">
    <div class="about">
      <h4>About Company</h4>
      <p>
        Company is working with this data science filed since last decade. Our
        mission and vission is to provide accurate data to our cusotmers so that
        decission making will ease and eventually busineess will grow fast ever.
      </p>
      <a href="#"> Read More</a>
    </div>
    <hr class="divider" />
    <div class="qualification">
      <h4>Qualification</h4>
      <ul>
        <li>Must Aware of this Data Science Field</li>
        <li>Works with all tools individually</li>
        <li>Goal Oriented performance</li>
      </ul>
    </div>
    <hr class="divider" />
    <div class="detail-btn">
      <button class="btn-apply">Apply Now</button>
      <button class="btn-save">Save Job</button>
    </div>
  </div>
</div>
