.detail {
    width: 25%;
    min-width: 250px;
    height: 100%;
    padding: 2rem;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--whiteColor);
    overflow: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .fa-close {
    display: none;
  }
  
  .detail-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .detail-header span {
    width: 50px;
    height: 50px;
  }
  
  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--greyColor);
    border: none;
    margin: 1rem 0;
  }
  .detail-desc {
    line-height: 1.5;
  }
  .about a {
    margin: 0.5rem 0 0 0;
    color: var(--primaryColor);
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
  }
  .detail-btn {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
  }
  
  .btn-apply {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .btn-save {
    background-color: var(--secondaryColor);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .btn-apply:hover {
    border: 1px solid var(--primaryColor);
    background-color: transparent;
    color: var(--primaryColor);
  }
  .btn-save:hover {
    border: 1px solid var(--secondaryColor);
    background-color: transparent;
  }
  
  @media screen and (max-width: 880px) {
    .detail {
      width: 40%;
    }
  }
  @media screen and (max-width: 700px) {
    .detail {
      display: none;
    }
    .detail.active {
      display: block;
      width: 100%;
      z-index: 100;
    }
    .detail.active .fa-close {
      display: block;
      /* cursor: pointer; */
    }
  }
  