/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
:root {
  /* --primaryColor: #4c50d3; */
  /* --primaryColor: #272838; */
  --primaryColor: #4e4b5c;
  --secondaryColor: #ffce00;
  --fontColor: #1e1e1e;
  --whiteColor: #fff;
  --greyColor: #e7e7e7;
  --darkGreyColor: #5f5f5f;
  --softPurpel: #eeeeee;
  /* --softPurpel: #eddfe1; */
  --softBlue: #c3e1ff;
  /* --softBlue: #edbfc6; */
  --softYellow: #fff5cc;
  --softRed: #ffcbc8;
  --labelColor: #432e36;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Lato' sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  /* display: flex; */
}
.label {
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--labelColor);
}
