.main {
    width: calc(100% - 20% - 25%);
    min-height: 100%;
    min-width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2rem 2%;
    margin-left: 20%;
    z-index: 1;
    background-color: var(--softPurpel);
  }
  
  .filter-wrapper {
    margin: 1rem 0;
    font-size: 14px;
  }
  .filter {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin: 0.5rem 0;
  }
  .btn-filter {
    min-width: 110px;
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    background-color: var(--whiteColor);
    cursor: pointer;
    margin-bottom: 8px;
  }
  .btn-filter:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }
  .sort p {
    font-size: 14px;
  }
  .sort-list select {
    height: 1.5rem;
    border-radius: 20px;
    margin-top: 0 0.5rem;
  }
  
  @media screen and (max-width: 880px) {
    .main {
      width: calc(100% - 40%);
      margin-left: 0;
    }
    .menu-bar {
      display: block;
    }
  }
  
  @media screen and (max-width: 700px) {
    .main {
      width: 100%;
    }
  }
  