<div class="main">
  <app-navbar></app-navbar>

  <div class="filter-wrapper">
    <p class="label">Recommendation</p>
    <div class="filter">
      <button class="btn-filter">Data Science</button>
      <button class="btn-filter">AI</button>
      <button class="btn-filter">React.js</button>
      <button class="btn-filter">Magento</button>
      <button class="btn-filter">Docker</button>
      <button class="btn-filter">Data Analyst</button>
    </div>
  </div>
  <div class="sort">
    <p class="label">Sort</p>
    <div class="sort-list">
      <select>
        <option value="0">All</option>
        <option value="1">Newest Post</option>
        <option value="2">Oldest Post</option>
        <option value="3">Most Relevant</option>
        <option value="4">Highest Paid</option>
      </select>
    </div>
  </div>
  <app-card></app-card>
</div>
